/**
 * colors:
 *   background gray: #f4fbfe
 *   primary blue: #298ab8
 *   darkblue: #0a4461
 *   lightblue: #c3d2d9
 *   yellow: #fdcb1b
 *
 * breakpoints:
 *   xs-min: 30em;
 *   sm-min: 48em;
 *   md-min: 64em;
 *   lg-min: 75em;
 */


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4fbfe;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

hr {
  /* color: #c3d2d9; */
  border: none;
  border-top: solid 1px #e0e0e0;
}

/* Container */

 .container {
   max-width: 1000px;
   padding-left: 1rem;
   padding-right: 1rem;
   box-sizing: border-box;
 }




/* Header */

.header {
  background: #0a4461;
  color: #fff;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.brand {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.5em;
}
.brand .name {
  color: white;
  text-decoration: none;
}
.brand .scorecard {
  margin-left: 1.5em;
  font-weight: 200;
  color: #c3d2d9;
}
@media screen and (max-width: 500px) {
  .brand .name, .brand .scorecard {
    display: block;
    margin-left: 0;
  }
}

nav {

}
nav a {
  display: inline-block;
  /* font-size: ; */
  padding: 0 1em 1em;
  border-bottom: solid 3px rgba(0,0,0,0);
  color: #c3d2d9;
  font-weight: 300;
  text-decoration: none
}
nav a.active {
  border-bottom-color: #fdcb1b;
}




/* Cards */

.card {
  background: #fff;
  padding: 1rem;
  box-shadow: 1px 2px 12px 0px #ccc;
}



/* Legislators */

.legislator-cards {
  margin-top: 1rem;
}

.legislator-card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.legislator-card .badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #888;
  color: white;
  font-size: 0.8em;
  padding: .2em .3em;
}
.legislator-card.your .badge {
  background: #fdcb1b;
}


.legislator-info .col-xs {
  flex-grow: 0;
}
.legislator-info .col-xs:nth-child(2) {
  flex-grow: 1;
}


.legislator-avatar {
  width: 50px;
  height: 50px;
  border-radius: 999999999px;
  border: solid 2px #0a4461;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.legislator-avatar img {
  width: 50px;
}

.legislator-name {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.legislator-name a {
  color: black;
  text-decoration: none;
}

.legislator-subtitle {
  color: #888;
  /* font-weight: 200; */
  font-size: 0.9em;
}
@media screen and (max-width: 48em) {
  .legislator-subtitle > span {
    display: block;
  }
  .legislator-subtitle .bull {
    display: none;
  }
}

.legislator-actions {
  display: flex;
  flex-flow: row nowrap;
}
.legislator-action {
  margin-left: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  width: 45px; height: 45px;
  border: solid thin #bbb;
  color: #888;
  text-decoration: none;
}

@media screen and (max-width: 30em) {
  .legislator-info .col-xs:nth-child(3) {
    flex-basis: 100%;
  }
  .legislator-info .legislator-actions {
    margin-top: 1rem;
    justify-content: center;
  }
  .legislator-info.compact .legislator-actions {
    margin-top: .5rem;
  }
}



/* Legislator Detail */

.legislator-detail section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.district-info .title {
  margin-bottom: 0.8rem;
  font-size: 0.9em;
  font-weight: bold;
}

.district-info .description {
  font-size: 0.9em;
  color: #aaa;
}
