/**
 * colors:
 *   background gray: #F4FBFE
 *   primary blue: #1B8BB4
 *   darkblue: #02455F
 *   lightblue: #c3d2d9
 *   yellow: #FFCA48
 *   green: #00B142
 *   red: #FF5734
 *
 * breakpoints:
 *   xs-min: 30em;
 *   sm-min: 48em;
 *   md-min: 64em;
 *   lg-min: 75em;
 */


body {
  margin: 0;
  padding: 0;
  background-color: #F4FBFE;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

hr {
  /* color: #c3d2d9; */
  border: none;
  border-top: solid 1px #e0e0e0;
}

button, input[type=submit] {
  background: #1B8BB4;
  color: #fff;
  outline: none;
  height: 36px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-weight: 100;
  font-size: 14px;
}

select, input:not([type=submit]) {
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  width: 240px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  color: #4A4A4A;
  font-size: 0.9rem;
  background: #e6f0f6;
  border: none;
  border-radius: 0;
}

input.zip {
  width: 100px;
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  button, input[type=submit] {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 48em) {
  select, button, input {
    display: block !important;
    margin: 0 0 0.5em !important;
    width: 100% !important;
  }
}


/* Container */

 .container {
   max-width: 1000px;
   padding-left: 1rem;
   padding-right: 1rem;
   box-sizing: border-box;
 }




/* Header */

.header {
  background: #02455F;
  color: #fff;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.banner {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.5em;
}
a.brand {
  display: inline-block;
}
a.brand img {
  vertical-align: bottom;
  width: 324px;
  height: 30px;
  margin-bottom: 1px;
}
.banner .scorecard-title {
  margin-left: 15px;
  font-weight: 100;
  color: #FFF;
}
@media screen and (max-width: 500px) {
  .banner .brand, .banner .scorecard-title {
    display: block;
    margin-left: 0;
  }
}

nav {

}
nav a {
  display: inline-block;
  /* font-size: ; */
  padding: 0 1em 1em;
  border-bottom: solid 3px rgba(0,0,0,0);
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
  opacity: 0.7;
}
nav a.active {
  border-bottom-color: #FFCA48;
  opacity: 1;
}




/* Cards */

.card {
  background: #fff;
  padding: 1rem;
  box-shadow: 1px 2px 12px 0px #ccc;
}



/* Legislators */

.legislator-cards {
  margin-top: 1rem;
}

.legislator-card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.legislator-card .badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #888;
  color: white;
  font-size: 0.8em;
  padding: .2em .3em;
}
.legislator-card.your .badge {
  background: #FFCA48;
}


.legislator-info .col-xs {
  flex-grow: 0;
}
.legislator-info .col-xs:nth-child(2) {
  flex-grow: 1;
}


.legislator-avatar {
  width: 50px;
  height: 50px;
  border-radius: 999999999px;
  border: solid 2px #02455F;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.legislator-avatar img {
  width: 50px;
}

.legislator-name {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.legislator-name a {
  color: black;
  text-decoration: none;
}

.legislator-subtitle {
  color: #9B9B9B;
  /* font-weight: 300; */
  font-size: 0.9em;
}
@media screen and (max-width: 48em) {
  .legislator-subtitle > span {
    display: block;
  }
  .legislator-subtitle .bull {
    display: none;
  }
}

.legislator-actions {
  display: flex;
  flex-flow: row nowrap;
}
.legislator-action {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  width: 50px; height: 50px;
  border: solid thin #e6e6e6;
  text-decoration: none;
}

@media screen and (max-width: 30em) {
  .legislator-info .col-xs:nth-child(3) {
    flex-basis: 100%;
  }
  .legislator-info .legislator-actions {
    margin-top: 1rem;
    justify-content: center;
  }
  .legislator-info.compact .legislator-actions {
    margin-top: .5rem;
  }
}



/* Legislator Detail */

.legislator-detail section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.district-info .title {
  margin-bottom: 0.8rem;
  font-size: 0.9em;
  font-weight: 500;
}

.district-info .description {
  font-size: 0.9em;
  color: #aaa;
}

@media screen and (max-width: 48em) {
  .district-info .title {
    margin-bottom: .4rem;
  }
  .term-info {
    margin-top: 1rem;
  }
}



/* Find My Legislators */
.find-my-legislators {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
